API_URL=http://127.0.0.1:8085
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8085

DB_HOST=localhost
DB_USER=usuario
DB_PORT=3306
DB_PASSWORD=contrasena
DB_NAME=somatocarta

SECRET_KEY=cambia-este-valor
ACCESS_TOKEN_EXPIRE_MINUTES=30
